@import '../../styles/vendor/_include-media.scss';
@import '../../styles/_variables.scss';
@import '../../styles/_utils.scss';
waf-dialog {
    .waf-dialog-backdrop {
        position: fixed;
        background-color: $backdropColor;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    [role="document"] {
        outline: none;
        display: flex;
        flex-direction: column;
        >*:not(.sr-only) {
            flex: 0 1 auto;
        }
        [slot="content"] {
            overflow-y: auto;
        }
    }
    [role="dialog"] {
        background-color: $dialogBgColor;
        padding: 24px;
        box-shadow: unquote($dialogShadow);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @include media(">=desktop") {
        [role="dialog"] {
            width: 50%;
        }
        [role="document"] {
            max-height: 50vh;
        }
    }
    @include media("<desktop") {
        [role="dialog"] {
            width: 80%;
        }
        [role="document"] {
            max-height: 80vh;
        }
    }
    /* utils - TODO push that in a generic util stylesheet for other components to share */
    .sr-only {
        @include sr-only;
    }
}